body {
  height: 100vh;
  background-image: url('/public/world.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  color: beige;
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

p {
  font-size: 14px;
  margin-bottom: 15px;
  color: beige;
}

button {
  border-radius: 5px;
  background-color: beige;
  font-size: 15px;
  cursor: pointer;
}