.preferences-container {
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: beige;
}

.submit-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: grey;
}

.city-input-section {
  margin-bottom: 20px
}

.city-input {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}