.itinerary-container {
  background-image: url('/public/empty_travel_journal.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.saved-itinerary-content {
  width: 80%;
  max-width: 420px;
  height: auto;
  overflow-y: visible;
  display: flex;
  justify-content: center;
  -webkit-transform: rotate(-7deg);
}

.saved-itinerary-details {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}

.saved-single-itinerary{
  background-color: transparent;
  border: 5px red;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
  font-size: xx-small;
}

.saved-itinerary-items {
  margin-top: 10px;
}

.title {
  -webkit-transform: rotate(-7deg);
}

h4 {
text-align: left;
margin-left: 60px;
margin-bottom: 0px;
margin-top: -20px;
}

button {
  border-radius: 5px;
  background-color: beige;
  font-size: 15px;
  cursor: pointer;
  float: left;
  margin-left: 4%;
}